@import "tailwindcss";

.badge {
    @apply border-2 border-default px-8 py-1 rounded-full hover:bg-default transition-all duration-500 cursor-pointer max-w-2xs font-bold;
}

@theme {
    --breakpoint-md: 80rem;
}

::-webkit-scrollbar
{
	width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb
{
	background-color: currentColor;
	border-radius: 48px;
}

@config "../tailwind.config.js"